<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card bg-default">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="fa fa-edit"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Bayi bilgileri</a>
              <a class="dropdown-item" href="#">Kullanıcı bilgisi</a>
            </div>
          </div>
          <h4 class="mb-0">XYZ Metal Alüminyum</h4>
          <a href="#">xyzmetal.com.tr</a>
        </div>
        <hr>
        <div class="px-3 margin-bottom-30">
          <h6 class="margin-bottom-10">Modül Listesi </h6>

          <div class="list-group height-300 overflow-scroll">
            <a href="#" class="list-group-item">Slider  <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Kategoriler <i class="fa fa-pencil pull-right"></i> </a>
            <a href="#" class="list-group-item">Ürünler <i class="fa fa-pencil pull-right"></i> </a>
            <a href="#" class="list-group-item">Galeri <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Sıkça Sorulan Sorular  <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Sözleşmeler <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Kurumsal <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Basında biz <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Sertifikalar <i class="fa fa-pencil pull-right"></i></a>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card bg-default">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="fa fa-edit"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Bayi bilgileri</a>
              <a class="dropdown-item" href="#">Kullanıcı bilgisi</a>
            </div>
          </div>
          <h4 class="mb-0">XYZ Metal Alüminyum</h4>
          <a href="#">xyzmetal.com.tr</a>
        </div>
        <hr>
        <div class="px-3 margin-bottom-30">
          <h6 class="margin-bottom-10">Modül Listesi </h6>

          <div class="list-group height-300 overflow-scroll">
            <a href="#" class="list-group-item">Slider  <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Kategoriler <i class="fa fa-pencil pull-right"></i> </a>
            <a href="#" class="list-group-item">Ürünler <i class="fa fa-pencil pull-right"></i> </a>
            <a href="#" class="list-group-item">Galeri <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Sıkça Sorulan Sorular  <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Sözleşmeler <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Kurumsal <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Basında biz <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Sertifikalar <i class="fa fa-pencil pull-right"></i></a>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card bg-default">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="fa fa-edit"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Bayi bilgileri</a>
              <a class="dropdown-item" href="#">Kullanıcı bilgisi</a>
            </div>
          </div>
          <h4 class="mb-0">XYZ Metal Alüminyum</h4>
          <a href="#">xyzmetal.com.tr</a>
        </div>
        <hr>
        <div class="px-3 margin-bottom-30">
          <h6 class="margin-bottom-10">Modül Listesi </h6>

          <div class="list-group height-300 overflow-scroll">
            <a href="#" class="list-group-item">Slider  <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Kategoriler <i class="fa fa-pencil pull-right"></i> </a>
            <a href="#" class="list-group-item">Ürünler <i class="fa fa-pencil pull-right"></i> </a>
            <a href="#" class="list-group-item">Galeri <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Sıkça Sorulan Sorular  <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Sözleşmeler <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Kurumsal <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Basında biz <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Sertifikalar <i class="fa fa-pencil pull-right"></i></a>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card bg-default">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="fa fa-edit"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Bayi bilgileri</a>
              <a class="dropdown-item" href="#">Kullanıcı bilgisi</a>
            </div>
          </div>
          <h4 class="mb-0">XYZ Metal Alüminyum</h4>
          <a href="#">xyzmetal.com.tr</a>
        </div>
        <hr>
        <div class="px-3 margin-bottom-30">
          <h6 class="margin-bottom-10">Modül Listesi </h6>

          <div class="list-group height-300 overflow-scroll">
            <a href="#" class="list-group-item">Slider  <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Kategoriler <i class="fa fa-pencil pull-right"></i> </a>
            <a href="#" class="list-group-item">Ürünler <i class="fa fa-pencil pull-right"></i> </a>
            <a href="#" class="list-group-item">Galeri <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Sıkça Sorulan Sorular  <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Sözleşmeler <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Kurumsal <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Basında biz <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Sertifikalar <i class="fa fa-pencil pull-right"></i></a>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card bg-default">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="fa fa-edit"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Bayi bilgileri</a>
              <a class="dropdown-item" href="#">Kullanıcı bilgisi</a>
            </div>
          </div>
          <h4 class="mb-0">XYZ Metal Alüminyum</h4>
          <a href="#">xyzmetal.com.tr</a>
        </div>
        <hr>
        <div class="px-3 margin-bottom-30">
          <h6 class="margin-bottom-10">Modül Listesi </h6>

          <div class="list-group height-300 overflow-scroll">
            <a href="#" class="list-group-item">Slider  <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Kategoriler <i class="fa fa-pencil pull-right"></i> </a>
            <a href="#" class="list-group-item">Ürünler <i class="fa fa-pencil pull-right"></i> </a>
            <a href="#" class="list-group-item">Galeri <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Sıkça Sorulan Sorular  <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Sözleşmeler <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Kurumsal <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Basında biz <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Sertifikalar <i class="fa fa-pencil pull-right"></i></a>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card bg-default">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="fa fa-edit"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Bayi bilgileri</a>
              <a class="dropdown-item" href="#">Kullanıcı bilgisi</a>
            </div>
          </div>
          <h4 class="mb-0">XYZ Metal Alüminyum</h4>
          <a href="#">xyzmetal.com.tr</a>
        </div>
        <hr>
        <div class="px-3 margin-bottom-30">
          <h6 class="margin-bottom-10">Modül Listesi </h6>

          <div class="list-group height-300 overflow-scroll">
            <a href="#" class="list-group-item">Slider  <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Kategoriler <i class="fa fa-pencil pull-right"></i> </a>
            <a href="#" class="list-group-item">Ürünler <i class="fa fa-pencil pull-right"></i> </a>
            <a href="#" class="list-group-item">Galeri <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Sıkça Sorulan Sorular  <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Sözleşmeler <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Kurumsal <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Basında biz <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Sertifikalar <i class="fa fa-pencil pull-right"></i></a>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card bg-default">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="fa fa-edit"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Bayi bilgileri</a>
              <a class="dropdown-item" href="#">Kullanıcı bilgisi</a>
            </div>
          </div>
          <h4 class="mb-0">XYZ Metal Alüminyum</h4>
          <a href="#">xyzmetal.com.tr</a>
        </div>
        <hr>
        <div class="px-3 margin-bottom-30">
          <h6 class="margin-bottom-10">Modül Listesi </h6>

          <div class="list-group height-300 overflow-scroll">
            <a href="#" class="list-group-item">Slider  <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Kategoriler <i class="fa fa-pencil pull-right"></i> </a>
            <a href="#" class="list-group-item">Ürünler <i class="fa fa-pencil pull-right"></i> </a>
            <a href="#" class="list-group-item">Galeri <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Sıkça Sorulan Sorular  <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Sözleşmeler <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Kurumsal <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Basında biz <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Sertifikalar <i class="fa fa-pencil pull-right"></i></a>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card bg-default">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="fa fa-edit"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Bayi bilgileri</a>
              <a class="dropdown-item" href="#">Kullanıcı bilgisi</a>
            </div>
          </div>
          <h4 class="mb-0">XYZ Metal Alüminyum</h4>
          <a href="#">xyzmetal.com.tr</a>
        </div>
        <hr>
        <div class="px-3 margin-bottom-30">
          <h6 class="margin-bottom-10">Modül Listesi </h6>

          <div class="list-group height-300 overflow-scroll">
            <a href="#" class="list-group-item">Slider  <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Kategoriler <i class="fa fa-pencil pull-right"></i> </a>
            <a href="#" class="list-group-item">Ürünler <i class="fa fa-pencil pull-right"></i> </a>
            <a href="#" class="list-group-item">Galeri <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Sıkça Sorulan Sorular  <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Sözleşmeler <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Kurumsal <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Basında biz <i class="fa fa-pencil pull-right"></i></a>
            <a href="#" class="list-group-item">Sertifikalar <i class="fa fa-pencil pull-right"></i></a>
          </div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->

</div>
